extends ../layouts/_base

block head
  - title = 'Labyrinthe Holding Incorporation 🔷 - Contact Us'

block body
  //- navigation
  - var active = '/contact.html'
  include ../includes/navi

  main
    include ../includes/contacts
    include ../includes/call-to-action

  include ../includes/footer
