extends ../layouts/_base

block head
  - title = 'Labyrinthe Holding Incorporation 🔷 - Management'
  meta(property="og:title", content="Labyrinthe Holding Incorporation 🔷 - Management")

block body
  //- navigation
  - var active = '/management.html'
  include ../includes/navi

  main
    section.intro
      .container
        .intro-img
          img(src='/img/products-composition-simple.png', alt='')
        .intro-text
          h1.intro-text__title Management
    section.call-to-action
      .container
        h2.call-to-action__title Invest in the Labyrinthe Method.
        .call-to-action-wrapper
          .call-to-action-img
            img(src='/img/catalog-image.png', alt='')
          form.call-to-action-form(action='')
            p.call-to-action-form__title Tell us where to send your presentation.
            p.call-to-action-form__subtitle Please complete the brief form below.
            small.call-to-action-form__hint Enter your name
            input.call-to-action-form__input(type='text', name='Name', placeholder='Your name')
            small.call-to-action-form__hint Enter your email
            input.call-to-action-form__input(type='text', name='Email', placeholder='mail@gmail.com')
            button.call-to-action-form__button(type='submit') Email Presentation
            label.call-to-action-form__label
              input(type='checkbox', name='policy-agreement')
              span I have read and agree to the privacy policy.
            label.call-to-action-form__label
              input(type='checkbox', name='contact-agreement')
              span I agree to allow Labryinthe to contact me regarding investment opportunities.
    section.relation
      .container
        h2.relation__title
          strong Two decades of thoroughly developed market
          br
          |         expertise and strategic relationship building.
        .relation-cards
          .relation-card
            div
              h4.relation-card__title Regulatory
              img.relation-card__icon(src='/img/relation-icon-regulatory.png', alt='')
            ul.relation-card__list
              li Leading clinical formulation experts
              li FDA registered and audited contract manufacturers
              li
                | Leading FDA and FTC legal teams with their fingers on the pulse of current regulatory policies.
          .relation-card
            div
              h4.relation-card__title Marketing
              img.relation-card__icon(src='/img/relation-icon-marketing.png', alt='')
            ul.relation-card__list
              li
                | Cutting edge compliant and EDI ready fulfillment centers specializing in rapid direct-to-consumer and B2B shipping
              li Highly skilled, campaign trained call center teams
              li Talented, creative design and development teams
              li Vast affiliate marketing networks
              li Brand development experts
          .relation-card
            div
              h4.relation-card__title International Markets
              img.relation-card__icon(src='/img/relation-icon-international.png', alt='')
            ul.relation-card__list
              li Vast national and international distribution channels
              li Category specific merchant processing/banking relationships and expertise
              li
                | Sophisticated legal team specializing in intellectual property (copyright, trademark, patents)
    section.figures
      .experience
        .container
          h2.figures__title
            | Labyrinthe's management and board members
            br
            strong have a wealth of experience.
          .figures-cards
            .figures-card
              img.figures-card__icon(src='/img/figures-icon-finance.png', alt='')
              div
                p.figures-card__title
                  strong 30+ years
                p.figures-card__subtitle Experience in Finance and Capital markets.
            .figures-card
              img.figures-card__icon(src='/img/figures-icon-consumers.png', alt='')
              div
                p.figures-card__title
                  strong 30+ years
                p.figures-card__subtitle Direct To Consumer Marketing Experience
            .figures-card
              img.figures-card__icon(src='/img/figures-icon-health.png', alt='')
              div
                p.figures-card__title
                  strong $150 Million in Revenue
                p.figures-card__subtitle Generated in Health and wellness vertical.
      .management
        .container
          .management-slider
            .menu
              ul
                li.menu-item.is-active
                  img.menu-item__avatar(src='/img/management-frank-cropped.jpg', alt='')
                  div
                    p.menu-item__name
                      strong Frank V. Barone Jr.
                    p.menu-item__role Co-Chief Executive Officer
                li.menu-item
                  img.menu-item__avatar(src='/img/management-kirill-cropped.jpg', alt='')
                  div
                    p.menu-item__name
                      strong Kirill V. Chumenko
                    p.menu-item__role Co-Chief Executive Officer
                li.menu-item
                  img.menu-item__avatar(src='/img/management-chris-cropped.jpg', alt='')
                  div
                    p.menu-item__name
                      strong Chris Tsutsui
                    p.menu-item__role Chief Financial Officer
                li.menu-item
                  img.menu-item__avatar(src='/img/management-artem-cropped.jpg', alt='')
                  div
                    p.menu-item__name
                      strong Artem Adamov
                    p.menu-item__role Chief Technology Officer
                li.menu-item
                  img.menu-item__avatar(src='/img/management-evgeny-cropped.jpg', alt='')
                  div
                    p.menu-item__name
                      strong Evgeny Shipulya
                    p.menu-item__role Chief Processing Officer
                li.menu-item
                  img.menu-item__avatar(src='/img/management-carol-cropped.jpg', alt='')
                  div
                    p.menu-item__name
                      strong Carol Carrozza
                    p.menu-item__role Chief Marketing Officer
            .slide-wrapper
              .slide.is-active
                .slide-manager
                  p.slide-manager__title
                    strong — Frank V. Barone Jr.
                    br
                    | Co-Chief Executive Officer
                  img.slide-manager__img(src='/img/management-frank-cropped.jpg', alt='')
                  button.slide-manager__control-btn.prev
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-left")
                  button.slide-manager__control-btn.next
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-right")
                .slide-info
                  p.slide-info__title Over the past 20 years Mr. Barone has co-founded several consumer goods companies and services, including Barmensen Development, LLC, Fortera Nutra Solutions LLC. f/k/a Next Gen Health Solutions, LLC., and Associate Design, LLC.
                  p.slide-info__subtitle Each company specialized in taking nutritional supplements and cosmetics to market using Direct-to-Consumer strategies via both offline (e.g., TV, Radio, Print), and online (e.g., Affiliate Marketing, SEO, Social Media), prior to introducing such products into both electronic and brick and mortar retail. In each instance, Mr. Barone oversaw all aspects of the business, including financial and operational infrastructure, channel strategy, legal, and business development.
                  a.accordeon-toggle Read more
                  p.slide-info__subtitle Additionally, Mr. Barone managed investor relations and all merger/acquisition efforts for such companies. Prior to 2002, Mr. Barone was the acting Chief Operations Officer for Sonic Trading Management (“Sonic”), which held as its wholly‐owned subsidiaries, two SEC-registered broker‐dealers, as well as a trading software development company.
                  p.slide-info__subtitle Prior to that, Mr. Barone acted as Chief Operations Officer for Advanced Communications Sciences, a computer network integration and telecommunications company servicing only Fortune 500 clients. Mr. Barone received his BS from St. John’s University in 1990, his Juris Doctorate degree from St. John’s University School of Law in 1996, and has held Series 7, 24, 57 (previously known as 55), and 63 licenses.

              .slide
                .slide-manager
                  p.slide-manager__title
                    strong — Kirill V. Chumenko
                    br
                    | Co-Chief Executive Officer
                  img.slide-manager__img(src='/img/management-kirill-cropped.jpg', alt='')
                  button.slide-manager__control-btn.prev
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-left")
                  button.slide-manager__control-btn.next
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-right")
                .slide-info
                  p.slide-info__title Mr. Chumenko, along with Frank Barone, co‐founded several consumer goods companies and services, including Barmensen Development, LLC, Fortera Nutra Solutions, LLC. f/k/a Next Gen Health Solutions, LLC., and Associate Design LLC.
                  p.slide-info__subtitle Each company specialized in taking nutritional supplements and cosmetics to market using Direct-to-Consumer strategies via both offline (e.g., TV, Radio, Print), and online (e.g., Affiliate Marketing, SEO, Social Media), prior to introducing such products into both electronic and brick and mortar retail.
                  a.accordeon-toggle(href='#') Read more
                  p.slide-info__subtitle For each company, Mr. Chumenko was responsible for overseeing and managing all Finance, Banking and Accounting departments, Online Affiliate Network relations, and the development of the companies’ strategic performance-based analytical software.
                  p.slide-info__subtitle Prior to joining the Company, Mr. Chumenko was a Senior International Financial Analyst within the Emerging Markets Division at JPMorgan Chase. Mr. Chumenko received his Bachelor of Science Degree from the University of Vermont.
              .slide
                .slide-manager
                  p.slide-manager__title
                    strong — Chris Tsutsui
                    br
                    | Chief Financial Officer
                  img.slide-manager__img(src='/img/management-chris-cropped.jpg', alt='')
                  button.slide-manager__control-btn.prev
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-left")
                  button.slide-manager__control-btn.next
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-right")
                .slide-info
                  p.slide-info__title Prior to joining Labyrinthe, Mr. Tsutsui held senior positions in finance and operations across a range of institutions, including CFO of Ashmore US, CFO of the Emerging Markets trading division at Morgan Stanley, and VP of Operations at JP Morgan.
                  p.slide-info__subtitle.slide-info__subtitle_lg Mr. Tsutsui also helped launch Dolomite Capital Management, a start up fund of funds, as partner/CFO and head of Operational Due Diligence. The company was sold to a larger asset manager after 2 years of operations. Mr. Tsutsui began his career at Price Waterhouse where he performed audit and consulting services to largely Japanese clients for 6 years. He is a New York State CPA and holds Series 7 and 28 licenses.
              .slide
                .slide-manager
                  p.slide-manager__title
                    strong — Artem Adamov
                    br
                    | Chief Technology Officer
                  img.slide-manager__img(src='/img/management-artem-cropped.jpg', alt='')
                  button.slide-manager__control-btn.prev
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-left")
                  button.slide-manager__control-btn.next
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-right")
                .slide-info
                  p.slide-info__title Mr. Adamov is a seasoned information technology and marketing leader with over 19 years of experience working for Fortune 500 and startup companies.
                  p.slide-info__subtitle After spending nearly a decade as a technology and marketing solutions strategist, Mr. Adamov has helped build, source, and acquire cutting edge technology solutions to help multimillion-dollar brands and startups grow their technology ecosystems and market share. Mr. Adamov has successfully founded multiple Marketing Data Analytics and Marketing Consulting services companies.
                  a.accordeon-toggle Read More
                  p.slide-info__subtitle He has lead teams and efforts in Marketing Data-Science and Machine-Learning and has helped transform companies into data-driven, innovative entities. Mr. Adamov established an accomplishments - driven career highlighted by rapid acceleration to increasingly responsible positions at Johnson & Johnson, IBM, and First Consulting Group.
                  p.slide-info__subtitle Mr. Adamov holds an MBA in Marketing & Global Management from Rutgers Business School and BS in Management Science & Information Systems from Rutgers, The State University of New Jersey.
              .slide
                .slide-manager
                  p.slide-manager__title
                    strong — Evgeny Shipulya
                    br
                    | Chief Processing Officer
                  img.slide-manager__img(src='/img/management-evgeny-cropped.jpg', alt='')
                  button.slide-manager__control-btn.prev
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-left")
                  button.slide-manager__control-btn.next
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-right")
                .slide-info
                  p.slide-info__title Telecommunications Engineer by education, I have built career in banking and payment acceptance and distribution, successfully invested in several startups from coffeeshop franchise to serviced offices company.
                  p.slide-info__subtitle.slide-info__subtitle_lg In 2017 I have successfully sold my first fintech start-up Kolibri, Inc., Florida based payment acceptance and distribution terminal network. Currently I am developing an e-commerce payment acceptance and distribution company in the United Kingdom.
              .slide
                .slide-manager
                  p.slide-manager__title
                    strong — Carol Carrozza
                    br
                    | Chief Marketing Officer
                  img.slide-manager__img(src='/img/management-carol-cropped.jpg', alt='')
                  button.slide-manager__control-btn.prev
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-left")
                  button.slide-manager__control-btn.next
                    svg
                      use(xlink:href="/img/icons-sprite.svg#arrow-right")
                .slide-info
                  p.slide-info__title Carol Carrozza is a global marketer and experienced leader in health and wellness consumer products.
                  p.slide-info__subtitle She has a long history in launching consumer brands in personal health, has created strategic advertising campaigns across verticals and has managed sales and marketing teams in North America, Europe and Asia. She spent many years at Ansell Healthcare, where she launched the LifeStyles brand, Contempo brand and Encore glove brand.
                  a.accordeon-toggle Read More
                  p.slide-info__subtitle She has consulted for consumer products companies in Boston and Ohio before joining Labyrinthe Holdings Corp. She is a guest lecturer on college and university campuses, speaking about marketing and communications at Emory University, Rutgers University, Auburn University, among others.
                  p.slide-info__subtitle In 2019 she was awarded “Top Women in U.S. Retail” honor.  Carrozza holds a bachelor’s degree from The College of New Jersey (TCNJ) and a Masters of Business Administration from Monmouth University, New Jersey.
    include ../includes/contacts
    include ../includes/call-to-action

  include ../includes/footer
