section.contacts
  .container
    h1.contacts__title Contact
    .contacts-info
      .contacts-info__card
        svg.contacts-info__card-icon
          use(xlink:href='../img/icons-sprite-light.svg#location')
        p.contacts-info__card-title 500 Campus Drive, Suite 305 Morganville NJ 07751
      a.contacts-info__card(href='mailto:info@thelabyrinthe.com')
        svg.contacts-info__card-icon
          use(xlink:href='../img/icons-sprite-light.svg#mail')
        p.contacts-info__card-title info@thelabyrinthe.com
      a.contacts-info__card(href='tel:+17324167539')
        svg.contacts-info__card-icon
          use(xlink:href='../img/icons-sprite-light.svg#phone')
        p.contacts-info__card-title 732-416-7539
