footer.footer
  .container
    .footer-logo
      a(href='/')
        img(src='/img/company-logo.png', alt='')
      small
        | (c) 2020, Labyrinthe Holdings Corp.
        br
        | All rights reserved.
    .footer-navi
      ul
        li.footer-navi__item
          a.footer-navi__link(href='/') Home
        li.footer-navi__item
          a.footer-navi__link(href='/brands.html') Brands
        li.footer-navi__item
          a.footer-navi__link(href='/management.html') Management
        li.footer-navi__item
          a.footer-navi__link(href='#') Investors
        li.footer-navi__item
          a.footer-navi__link(href='/news.html') In the news
        li.footer-navi__item
          a.footer-navi__link(href='/contact.html') Contact Us
    .footer-info
      .footer-info__item
        svg.footer-info__item-icon
          use(xlink:href='/img/icons-sprite.svg#location')
        p.footer-info__item-text
          | 500 Campus Drive, Suite 305
          br
          | Morganville NJ 07751
      a.footer-info__item(href='tel:+17324167539')
        svg.footer-info__item-icon
          use(xlink:href='/img/icons-sprite.svg#phone')
        p.footer-info__item-text
          strong 732-416-7539
      a.footer-info__item(href='mailto:info@thelabyrinthe.com')
        svg.footer-info__item-icon
          use(xlink:href='/img/icons-sprite.svg#mail')
        p.footer-info__item-text info@thelabyrinthe.com
    .footer-policy
      a.modal-open(data-target="#modal-policy") Privacy Policy
