.accordeon {
  height: 0px;
  overflow: hidden;
  transition: height 500ms;

  &-toggle {
    color: var(--accent-color-blue);
    font: {
      size: rem(24);
      weight: 700;
    }

    @include media('>sm') {
      display: none;
    }
  }

  &-toggle__button {
    background: linear-gradient(0deg, rgba(0,117,197,1) 0%, rgba(3,152,254,1) 100%);
    border-radius: rem(7);
    color: #fff;
    display: block;
    font-size: rem(18);
    margin-bottom: rem(30);
    margin: 0 auto rem(80);
    padding: rem(30) rem(70);
    text-transform: uppercase;
  }

  &.is-open {
    overflow: initial;
  }
}
