.brand-machine {
  background-color: var(--light-color-indigo);
  padding: rem(150);

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 1.4;
    margin-bottom: rem(130);
    text-align: center;
    font: {
      size: rem(34);
      weight: 400;
    }
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-card {
    max-width: rem(150);
    min-width: rem(150);

    &__icon {
      margin-bottom: rem(15);
      max-height: rem(70);
      min-height: rem(70);
    }
  }
}
