.brand-machine {
  background-color: var(--light-color-indigo);
  padding: rem(150) 0;

  @include media('<=sm') {
    padding: rem(70) 0;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 1.4;
    margin-bottom: rem(130);
    text-align: center;
    font: {
      size: rem(34);
      weight: 400;
    }

    @include media('<=sm') {
      font-size: rem(32);
      margin-bottom: rem(60);
    }
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include media('>sm') {
      padding: 0 rem(150);
    }

    @include media('<=sm') {
      align-items: start;
      display: grid;
      grid-gap: rem(20) rem(30);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-card {
    @include media('>sm') {
      max-width: rem(150);
      min-width: rem(150);
    }

    @include media('<=sm') {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }

    &__icon {
      margin-bottom: rem(15);
      max-height: rem(70);
      min-height: rem(70);
    }

    &__title {
      font-size: rem(19);
    }
  }
}

.brands {
  padding: {
    bottom: rem(140);
    top: rem(80);
  }

  @include media('<=sm') {
    padding: rem(80) 0 rem(70);
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 0.75;
    margin-bottom: rem(100);
    font: {
      size: rem(48);
      weight: 700;
    }

    @include media('<=sm') {
      font-size: rem(36);
      margin-bottom: rem(60);
    }
  }

  &-product {
    align-items: stretch;
    box-shadow: 0px 30px 38.8px 1.2px rgba(102, 181, 237, 0.16), 0px 0px 59px 0px rgba(83, 83, 83, 0.14);
    display: flex;
    margin-bottom: rem(100);
    width: 100%;

    @include media('>sm') {
      max-height: rem(650);
      min-height: rem(500);
    }

    @include media('<=sm') {
      flex-direction: column;
      margin-bottom: rem(50);
    }


    &__img {
      align-items: center;
      background: linear-gradient(90deg, rgba(1,99,166,1) 0%, rgba(4,142,240,1) 50%, rgba(37,164,251,1) 100%);
      color: #fff;
      display: flex;
      flex-direction: column;
      min-height: 100%;
      max-width: rem(405);
      min-width: rem(405);
      padding: rem(75) rem(25);

      @include media('<=sm') {
        max-width: 100%;
        min-width: 100%;
        padding: rem(50) 0 rem(50);
      }

      &-title {
        margin-bottom: rem(70);
        text-transform: uppercase;
        font: {
          size: rem(30);
          weight: 700;
        }

        @include media('<=sm') {
          font-size: rem(22);
          margin-bottom: rem(40);
        }
      }

      img {
        max-height: rem(390);
        min-height: rem(390);
        object-fit: contain;
        object-position: center;
        width: 80%;

        @include media('<=sm') {
          max-height: rem(290);
          min-height: rem(290);
        }
      }
    }

    &__info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media('>sm') {
        max-width: rem(735);
        min-width: rem(735);
        padding: 0 rem(80);
      }

      @include media('<=sm') {
        max-width: 100%;
        min-width: 100%;
        padding: rem(30);
      }
    }

    &__title {
      line-height: 1.25;
      margin-bottom: rem(40);
      font: {
        size: rem(24);
        weight: 600;
      }
    }

    &__checklist {
      margin: {
        bottom: rem(45);
        left: rem(19);
      }

      li {
        background: {
          image: url('../img/check-icon-blue.svg');
          position: left center;
          repeat: no-repeat;
          size: rem(14);
        }
        font-size: rem(18);
        line-height: 1.45;
        padding-left: rem(19);
      }
    }

    &__subtitle {
      line-height: 1.3;
      margin-bottom: rem(60);
      padding: rem(15) 0;
      position: relative;
      font: {
        size: rem(18);
        weight: 600;
      }

      &::before, &::after {
        background-color: #e7e8eb;
        height: rem(1);
        width: 100%;
        @include pseudo;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    &__description {
      color: var(--accent-color-grey);
      font-size: rem(16);
      line-height: 1.45;
    }
  }

  &__products {
    &:not(.is-active) {
      display: none;
    }

    &_radien .brands-product__img {
      background: #fff;
      border-right: rem(1) solid #e7e8eb;
      color: inherit;
    }
  }

  &-steps {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: rem(150);

    @include media('>sm') {
      max-width: rem(880);
      min-width: rem(880);
    }

    @include media('<=sm') {
      flex-direction: column;
      margin-top: rem(75);
    }
  }

  &__step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    @include media('<=sm') {
      &:not(:last-child) {
        margin-bottom: rem(110);
      }
    }

    &:not(:last-child)::before {
      @include pseudo(url('../img/arrow.svg'));

      @include media('>sm') {
        right: rem(-35);
        top: rem(25);
        transform: translateX(100%);
        width: rem(120);
      }

      @include media('<=sm') {
        bottom: rem(-15);
        left: 50%;
        transform-origin: 0 50%;
        transform: translateY(50%) rotate(90deg);
        width: rem(80);
      }
    }

    &-icon {
      margin-bottom: rem(15);
      max-height: rem(65);
      max-width: rem(60);
      min-height: rem(65);
      min-width: rem(60);
    }

    &-title {
      font-size: rem(16);
      text-align: center;
    }
  }

  &-tabs {
    display: flex;
    margin-bottom: rem(60);
    width: 100%;

    @include media('<=sm') {
      overflow-x: scroll;
      padding-bottom: rem(15);
    }
  }

  &__tab {
    align-items: center;
    border: rem(1) solid #e7e8eb;
    border-radius: rem(8);
    cursor: pointer;
    display: inline-flex;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: center;
    margin-right: rem(15);
    min-height: rem(80);
    opacity: 0.7;
    outline: none;
    padding: rem(15) rem(10);
    transition: opacity 0.2s, background 0.2s;
    font: {
      size: rem(22);
      weight: 600;
    }

    @include media('<=sm') {
      min-width: 50vw;
    }

    &:last-of-type() {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }

    &.is-active {
      background: linear-gradient(0deg, #0075c5 0%, #0398fe 100%);
      border-color: transparent;
      color: #fff;
      opacity: 1;
    }
  }
}

.categories {
  border-bottom: 1px solid #e7e8eb;
  padding: {
    bottom: rem(80);
    top: rem(120);
  }

  @include media('<=sm') {
    padding: rem(80) 0 rem(70);
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: rem(36);
    line-height: 1.5;
    margin-bottom: rem(90);
    text-align: center;

    @include media('<=sm') {
      font-size: rem(32);
      margin-bottom: rem(60);

      br {
        display: none;
      }
    }
  }

  &__img {
    max-width: rem(620);
    min-width: rem(620);

    @include media('<=sm') {
      max-width: 100%;
      min-width: 100%;
    }
  }

  &-cards {
    display: grid;
    grid-gap: rem(30);
    grid-template-columns: repeat(4, 1fr);

    @include media('>sm') {
      max-width: rem(845);
      min-width: rem(845);
    }

    @include media('<=sm') {
      margin-top: rem(90);
    }
  }

  &-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      top: 0;
      @include pseudo(url('../img/arrow.svg'));

      @include media('>sm') {
        width: rem(100);
      }

      @include media('<=sm') {
        width: rem(60);
      }
    }

    @include media('>sm') {
      &:nth-child(1)::before {
        transform: rotate(150deg) translate(-100%);
      }

      &:nth-child(2)::before {
        transform: translate(-40%, -400%) rotate(70deg);
      }

      &:nth-child(3)::before {
        transform: translate(-100%) rotate(45deg) translate(-25%, -200%);
      }

      &:nth-child(4)::before {
        transform: translate(-100%) rotate(45deg) translate(-25%, -200%);
      }

      &:nth-child(2), &:nth-child(3) {
        margin-top: rem(50);
      }
    }

    @include media('<=sm') {
      &:nth-child(1)::before {
        transform: rotate(-65deg) translatex(rem(60));
      }

      &:nth-child(2)::before {
        transform: rotate(-85deg) translateX(rem(60));
      }

      &:nth-child(3)::before {
        transform: rotate(265deg) translateX(rem(60));
      }

      &:nth-child(4)::before {
        transform: rotate(245deg) translateX(rem(60));
      }
    }

    &__icon {
      margin-bottom: rem(15);
      max-height: rem(75);
      max-width: rem(75);
      min-height: rem(75);
      min-width: rem(75);

      @include media('<=sm') {
        max-height: rem(60);
        max-width: rem(60);
        min-height: rem(60);
        min-width: rem(60);
      }
    }

    &__title {
      text-align: center;
    }
  }
}
