.call-to-action {
  color: var(--dark-color-grey);
  padding: {
    bottom: rem(110);
    top: rem(115);
  }

  @include media('<=sm') {
    padding: rem(70) 0;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: rem(140);
    font: {
      size: rem(48);
      weight: 700;
    }

    @include media('<=sm') {
      font-size: rem(34);
      margin-bottom: rem(50);
      text-align: center;
    }
  }

  &-wrapper {
    display: flex;
    width: 100%;

    @include media('>sm') {
      position: relative;
      right: rem(60);
    }

    @include media('<=sm') {
      flex-direction: column;
      align-items: center;
    }
  }

  &-img {
    width: 100%;

    @include media('>sm') {
      margin-right: rem(140);
    }

    @include media('<=sm') {
      position: relative;
      right: rem(40);
    }

    img {
      @include media('>sm') {
        max-width: rem(610);
        min-width: rem(610);
      }

      @include media('<=sm') {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  &-form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @include media('>sm') {
      max-width: rem(390);
      min-width: rem(390);
    }

    @include media('<=sm') {
      max-width: 75%;
      min-width: 75%;
    }

    &__title {
      margin-bottom: rem(15);
      font: {
        size: rem(30);
        weight: 700;
      }

      @include media('<=sm') {
        font-size: rem(26);
      }
    }

    &__subtitle {
      margin-bottom: rem(40);
      font-size: rem(24);

      @include media('<=sm') {
        font-size: rem(20);
      }
    }

    &__hint {
      font-size: rem(16);
      margin-bottom: rem(10);
    }

    &__input {
      border: 1px solid #e9e9e9;
      background-color: #f9f9f9;
      margin-bottom: rem(40);
      outline-color: var(--accent-color-blue);
      font: {
        family: var(--main-font);
        size: rem(16);
      }
      padding: rem(20);
      width: 100%;
    }

    &__button {
      background: linear-gradient(0deg, rgba(0,117,197,1) 0%, rgba(3,152,254,1) 100%);
      border-radius: rem(7);
      color: #fff;
      font-size: rem(18);
      margin-bottom: rem(30);
      padding: rem(30) rem(50);
      transition: opacity 250ms;

      &[disabled] {
        opacity: 0.75;
      }

      @include media('<=sm') {
        align-self: center;
        width: 100%;
      }
    }

    &__label {
      cursor: pointer;
      display: flex;
      margin-bottom: rem(10);

      input[type="checkbox"] {
        @include media('>sm') {
          margin: 0 rem(5) 0 0;
          max-height: rem(13);
          max-width: rem(13);
          min-height: rem(13);
          min-width: rem(13);
        }

        @include media('<=sm') {
          margin: 0 rem(10) 0 0;
          max-height: rem(17);
          max-width: rem(17);
          min-height: rem(17);
          min-width: rem(17);
        }
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
