.capitalization {
  background-color: var(--light-color-indigo);
  padding: {
    bottom: rem(150);
    top: rem(115);
  }

  @include media('<=sm') {
    padding: rem(80) 0;
    text-align: center;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: rem(110);
    font: {
      size: rem(48);
      weight: 700;
    }

    @include media('<=sm') {
      font-size: rem(36);
      margin-bottom: rem(70);
    }
  }

  &-nums {
    display: flex;
    width: 100%;

    @include media('>sm') {
      justify-content: space-around;
    }

    @include media('<=sm') {
      align-items: center;
      flex-direction: column;
    }
  }

  &-num {

    @include media('<=sm') {
      margin-bottom: rem(50);
    }

    .counter {
      color: var(--accent-color-blue);
      display: block;
      margin-bottom: rem(40);
      font: {
        size: rem(48);
        weight: 700;
      }

      @include media('<=sm') {
        font-size: rem(36);
        margin-bottom: rem(10);
      }
    }

    .title {
      font-size: rem(24);
    }
  }
}
