.concept {
  background: {
    image: url('../img/concept-background.jpg');
    position: center;
    size: cover;
  }
  color: #fff;
  padding: {
    bottom: rem(150);
    top: rem(100);
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 1.3;
    margin-bottom: rem(70);
    position: relative;
    text-align: center;
    font: {
      size: rem(36);
      weight: 400;
    }

    &::before {
      background-color: #fff;
      bottom: rem(-30);
      height: rem(1);
      max-width: rem(140);
      min-width: rem(140);
      @include pseudo;
      @extend %center-horizontal;
    }
  }

  &__subtitle {
    line-height: 1.5;
    margin-bottom: rem(140);
    text-align: center;
    font: {
      size: rem(24);
      weight: 400;
    }
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-card {
    max-width: rem(230);
    min-width: rem(230);

    &__icon {
      height: auto;
      margin-bottom: rem(10);
      max-width: rem(100);
      min-width: rem(100);
    }

    &__title {
      line-height: 1.25;
      font: {
        size: rem(16);
        weight: 400;
      }
    }
  }
}
