.contacts {
  background: linear-gradient(0deg, rgba(0,117,197,1) 0%, rgba(3,152,254,1) 100%);
  color: #fff;
  padding: rem(180) 0;

  @include media('<=sm') {
    padding: rem(80) 0;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: rem(160);
    font: {
      size: rem(48);
      weight: 700;
    }

    @include media('<=sm') {
      font-size: rem(36);
      margin-bottom: rem(70);
    }
  }

  &-info {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include media('<=sm') {
      flex-direction: column;
    }

    &__card {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: rem(240);
      min-width: rem(240);

      @include media('<=sm') {
        margin-bottom: rem(45);
      }

      &-icon {
        margin-bottom: rem(10);
        max-height: rem(50);
        max-width: rem(50);
        min-height: rem(50);
        min-width: rem(50);
      }

      &-title {
        font-size: rem(18);
        line-height: 1.4;
        text-align: center;
      }
    }
  }
}
