.figures {

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 1.4;
    margin-bottom: rem(120);
    text-align: center;
    font: {
      size: rem(34);
      weight: 400;
    }

    @include media('<=sm') {
      font-size: rem(28);
      margin-bottom: rem(70);
    }
  }

  &-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include media('<=sm') {
      align-items: center;
      flex-direction: column;
    }
  }

  &-card {

    @include media('>sm') {
      max-width: rem(175);
      min-width: rem(175);
      text-align: center;
    }

    @include media('<=sm') {
      align-items: center;
      display: flex;
      max-width: 70%;
      min-width: 70%;

      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }

    &__icon {
      max-height: rem(70);
      max-width: rem(70);
      min-height: rem(70);
      min-width: rem(70);
      object-fit: contain;

      @include media('>sm') {
        margin-bottom: rem(20);
      }

      @include media('<=sm') {
        margin-right: rem(30);
      }
    }
  }

  &-mockup {
    margin-bottom: rem(90);
    max-height: rem(475);
    object-fit: cover;
    object-position: top center;
    width: 85%;
  }

  &__button {
    background: linear-gradient(0deg, rgba(0,117,197,1) 0%, rgba(3,152,254,1) 100%);
    border-radius: rem(7);
    color: #fff;
    font-size: rem(18);
    padding: rem(30) rem(40);
  }

  &_small {
    background-color: var(--light-color-indigo);
    padding: {
      bottom: rem(115);
      top: rem(75);
    }

    .figures-cards {
      margin-bottom: rem(120);

      @include media('<=sm') {
        margin-bottom: rem(80);
      }
    }
  }
}

.experience {
  padding: rem(120) 0;

  @include media('<=sm') {
    padding: rem(70) 0;
  }
}

.management {
  background-color: var(--light-color-indigo);
  padding: {
    bottom: rem(150);
    top: rem(90);
  }

  @include media('<=sm') {
    padding: {
      bottom: rem(90);
      top: rem(60);
    }
  }

  &-slider {
    position: relative;

    .menu {
      @include media('>sm') {
        left: 0;
        position: absolute;
        top: rem(82);
      }

      @include media('<=sm') {
        margin-bottom: rem(40);
      }

      &-item {
        align-items: center;
        background-color: #fff;
        border-bottom: rem(1) solid var(--light-color-indigo);
        cursor: pointer;
        display: flex;
        padding: rem(15);
        position: relative;
        transition: 200ms;
        user-select: none;

        &::before {
          background-color: transparent;
          clip-path: polygon(0 0, 100% 0, 100% 100%);
          height: rem(56);
          right: 0;
          transform: scaleX(0.5) translateX(100%) rotate(45deg);
          transition: 200ms;
          width: rem(56);
          z-index: 1;
          @include pseudo;
        }

        &.is-active {
          background-color: var(--accent-color-blue);
          color: #fff;

          &::before {
            background-color: var(--accent-color-blue);
          }
        }

        &__avatar {
          margin-right: rem(20);
          max-height: rem(50);
          max-width: rem(50);
          min-height: rem(50);
          min-width: rem(50);
          object-fit: cover;
          object-position: top center;
        }

        & > div {
          z-index: 2;
        }

        &__name {
          font-size: rem(18);
          margin-bottom: rem(5);

          @include media('<=sm') {
            font-size: rem(20);
          }
        }

        &__role {
          font-size: rem(16);

          @include media('<=sm') {
            font-size: rem(18);
          }
        }
      }
    }

    .slide {
      align-items: flex-end;
      display: none;
      flex-direction: column;

      @include media('>sm') {
        padding-right: rem(60);
      }

      &.is-active {
        display: flex;
      }

      &-manager {
        margin-bottom: rem(100);
        position: relative;

        @include media('<=sm') {
          margin-bottom: rem(40);
          text-align: center;
          width: 100%;
        }

        &__title {
          font-size: rem(22);
          line-height: 1.2;
          margin-bottom: rem(30);

          @include media('<=sm') {
            margin-bottom: rem(15);
          }
        }

        &__img {
          object-fit: cover;
          object-position: top center;

          @include media('>sm') {
            max-height: rem(430);
            max-width: rem(430);
            min-height: rem(430);
            min-width: rem(430);
          }

          @include media('<=sm') {
            max-height: rem(430);
            max-width: 80%;
            min-height: rem(430);
            min-width: 80%;
          }
        }

        &__control-btn {
          height: rem(40);
          position: absolute;
          top: 50%;
          width: rem(40);

          @include media('<=sm') {
            height: rem(50);
            width: rem(50);
          }

          &:focus {
            outline: none;
          }

          &.prev {
            right: calc(100% + #{rem(20)});

            @include media('<=sm') {
              right: 100%;
              transform: translateX(60%);
            }
          }

          &.next {
            left: calc(100% + #{rem(20)});

            @include media('<=sm') {
              left: 100%;
              transform: translateX(-60%);
            }
          }

          svg {
            height: rem(40);
            width: rem(40);

            @include media('<=sm') {
              height: rem(50);
              width: rem(50);
            }
          }
        }
      }

      &-info {
        align-self: stretch;
        display: flex;

        @include media('>sm') {
          flex-wrap: wrap;
          justify-content: space-between;
        }

        @include media('<=sm') {
          align-items: flex-start;
          flex-direction: column;
        }

        &__title {
          font: {
            size: rem(18);
            weight: 700;
          }
          line-height: 1.45;
          margin-bottom: rem(70);
          position: relative;

          @include media('>sm') {
            width: 100%;
          }

          @include media('<=sm') {
            font-size: rem(22);
          }

          &::before {
            background-color: #b2b2b2;
            bottom: rem(-30);
            height: rem(1);
            width: calc(100% + #{rem(60)});
            @include pseudo;

            @include media('<=sm') {
              width: 100%;
            }
          }
        }

        &__subtitle {
          font-size: rem(18);
          line-height: 1.45;

          @include media('>sm') {
            width: 25%;

            // &:not(:last-of-type) {
            //   margin-bottom: rem(20);
            // }

            &_lg {
              width: 100%;
            }
          }

          @include media('<=sm') {
            font-size: rem(22);
            margin-bottom: rem(30);

            &:not(.slide-info__subtitle_lg):nth-last-child(-n + 2) {
              height: 0px;
              overflow: hidden;
              transition: height 500ms;
            }
          }
        }
      }
    }

    &_image-only {

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: rem(90);
      width: 100%;

      @include media('>sm') {
        padding: 0 rem(100);
      }

      @include media('<=sm') {
        align-items: stretch;
        grid-template-columns: 1fr;
      }

      .menu {
        position: static;

        @include media('>sm') {
          align-self: start;
        }

        @include media('<=sm') {
          margin-bottom: rem(60);
        }
      }

      .slide {
        padding: 0;

        &-manager {
          text-align: center;
          margin-bottom: 0;

          &__img {
            @include media('>sm') {
              max-height: rem(325);
              max-width: rem(325);
              min-height: rem(325);
              min-width: rem(325);
            }
          }
        }
      }
    }
  }

}
