.footer {
  color: var(--dark-color-grey);
  padding-bottom: rem(70);

  .container {
    align-items: flex-start;
    border-top: 1px solid rgba(27, 27, 27, 0.3);
    display: flex;
    justify-content: space-between;
    padding-top: rem(60);

    @include media('<=sm') {
      align-items: center;
      flex-direction: column;

      & > * {
        width: 70%;
      }
    }
  }

  &-logo {
    display: flex;
    flex-direction: column;

    @include media('<=sm') {
      align-items: center;
      margin-bottom: rem(35);
      order: 3;
      text-align: center;
    }

    img {
      height: auto;
      margin-bottom: rem(45);
      max-width: rem(200);
      min-width: rem(200);

      @include media('<=sm') {
        margin-bottom: rem(20);
      }
    }
  }

  &-navi {

    @include media('<=sm') {
      margin-bottom: rem(35);
      order: 1;
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include media('>sm') {
        align-items: flex-start;
      }

      @include media('<=sm') {
        align-items: center;
      }
    }

    &__item {
      margin-bottom: rem(15);
    }

    &__link {
      font-size: rem(18);
    }
  }

  &-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @include media('<=sm') {
      align-items: center;
      margin-bottom: rem(35);
      order: 2;
    }

    &__item {
      align-items: flex-start;
      display: flex;

      &:not(:last-child) {
        margin-bottom: rem(15);
      }

      &-icon {
        margin-right: rem(10);
        max-height: rem(25);
        max-width: rem(25);
        min-height: rem(25);
        min-width: rem(25);
      }

      &-text {
        line-height: 1.6;

        @include media('<=sm') {
          text-align: center;
        }
      }
    }
  }

  &-policy {
    text-align: center;
    text-decoration: underline;

    @include media('<=sm') {
      order: 4;
    }
  }
}
