.header {
  padding: {
    bottom: rem(100);
    top: rem(135);
  }

  @include media('<=sm') {
    padding: {
      bottom: rem(70);
      top: rem(35);
    }
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include media('<=sm') {
      flex-direction: column;
    }
  }

  &-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include media('<=sm') {
      order: 2;
    }
  }

  &-img {
    @include media('<=sm') {
      margin-bottom: rem(75);
    }

    img {
      display: block;

      @include media('>sm') {
        max-height: rem(390);
        min-height: rem(390);
      }
      @include media('<=sm') {
        margin: 0 auto;
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  &-features {
    display: flex;
    align-items: center;

    @include media('<=sm') {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: rem(90);
    font: {
      size: rem(33);
      weight: 400;
    }

    @include media('<=sm') {
      font-size: rem(36);
      margin-bottom: rem(30);
    }

    br {
      display: none;
    }

    strong {
      font: {
        size: rem(48);
        weight: 800;
      }

      @include media('<=sm') {
        font-size: inherit;
      }
    }

    span.lightblue {
      color: var(--accent-color-blue);
    }
  }

  &__feature {
    @include media('<=sm') {
      align-items: center;
      display: flex;
    }

    &:not(:last-child) {
      @include media('>sm') {
        margin-right: rem(130);
      }

      @include media('<=sm') {
        margin-bottom: rem(20);
      }
    }

    &-icon {
      @include media('>sm') {
        margin-bottom: rem(10);
        max-height: rem(60);
        min-height: rem(60);

      }

      @include media('<=sm') {
        margin-right: rem(15);
        max-height: rem(50);
        min-height: rem(50);
      }
    }

    &-title {
      line-height: 1.2;

      @include media('<=sm') {
        font-size: rem(19);

        br {
          display: none;
        }
      }
    }
  }
}
