.intro {
  background: {
    image: url('../img/intro-background.jpg');
    position: center;
    size: cover;
  }
  color: #fff;
  padding: {
    bottom: rem(30);
    top: rem(120);
  }

  .container {
    position: relative;
  }

  &-img {
    & img {
      height: auto;
      max-width: rem(1000);
      min-width: rem(1000);

      @include media('<=sm') {
        max-width: 80%;
        min-width: 80%;
      }
    }
  }

  &-text {
    right: rem(120);
    position: absolute;
    top: 35%;
    transform: translateY(-50%);

    @include media('<=sm') {
      right: rem(30);
      top: 50%;
    }

    &__title {
      text-transform: uppercase;
      font: {
        size: rem(72);
        weight: 700;
      }

      @include media('<=sm') {
        font-size: rem(46);
      }
    }

    &__subtitle {
      font-size: rem(32);
    }
  }
}
