.navi {
  padding: rem(20) 0;
  position: relative;

  @include media('<=sm') {
    // display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: rem(15);
  }

  &-toggler {
    @include media('>sm') {
      display: none;
    }

    @include media('<=sm') {
      left: rem(10);
      position: absolute;
      top: 0;
      z-index: 9999;
    }

    svg {
      width: rem(75);

      path {
        stroke: var(--dark-color-grey);
      }

      &.active {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &-logo {
    grid-column: 1 / span 5;

    @include media('<=sm') {
      grid-column: 1 / span 12;
      text-align: right;
    }

    a {
      @include media('<=sm') {
        width: 85%;
      }
    }

    img {
      @include media('>sm') {
        max-height: rem(37);
        min-height: rem(37);
      }

      @include media('<=sm') {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  &-menu {
    grid-column: 6 / span 7;

    @include media('<=sm') {
      align-items: center;
      background-color: var(--accent-color-blue);
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      left: 0;
      padding: rem(120) 0;
      position: fixed;
      top: 0;
      transition: opacity 400ms;
      width: 100%;
      z-index: 9998;

      &.hidden {
        opacity: 0;
        z-index: -9999;
      }
    }

    ul {
      align-items: center;
      display: flex;

      @include media('>sm') {
        justify-content: space-between;
        height: 100%;
      }

      @include media('<=sm') {
        flex-direction: column;
        justify-content: center;
        margin-bottom: rem(60);
      }
    }

    &__item {
      @include media('<=sm') {
        padding: rem(20) 0;
      }
    }

    &__link {
      position: relative;
      text-transform: capitalize;
      font: {
        size: rem(18);
        weight: 400;
      }

      @include media('<=sm') {
        font-size: rem(26);
      }

      &.active::before {
        background-color: var(--accent-color-blue);
        border-radius: rem(3);
        bottom: rem(-8);
        height: rem(6);
        width: 100%;
        @include pseudo;

        @include media('<=sm') {
          background-color: #fff;
        }
      }
    }

    &__contacts {
        @include media('>sm') {
          display: none;
        }

        strong {
        display: block;
        font-size: rem(24);
        text-align: center;

        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
    }
  }
}
