html {
  @include media('>=lg') {
    font-size: 100%;
  }
  @include media('<lg', '>sm') {
    font-size: 1.36vw;
  }
  @include media('<=sm') {
    font-size: 3.33vw;
  }
}

body {
  color: var(--dark-color-blue);
  font-family: var(--main-font);
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: {
    left: rem(15);
    right: rem(15);
  }

  @include media('<=sm') {
    padding: {
      left: rem(30);
      right: rem(30);
    }
  }

  &_nogutter {
    @include media('>=lg') {
      padding: 0;
    }
  }
}

strong {
  font-weight: 700;
}

span.lightblue {
  color: var(--accent-color-blue);
}

a {
  display: inline-block;
}
