.strategy {
  background: {
    image: url('../img/strategy-background.jpg');
    position: center;
    size: cover;
  }
  color: #fff;
  overflow-x: hidden;
  padding: {
    bottom: rem(130);
    top: rem(85)
  }

  @include media('<=sm') {
    padding: rem(70) 0;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    @include media('<lg') {
      overflow: hidden;
    }
  }

  &__bg-mockup {
    bottom: rem(50);
    max-height: rem(400);
    min-height: rem(400);
    width: auto;
    position: absolute;
    right: rem(-50);

    @include media('<=lg', '>sm') {
      right: rem(-30);
    }

    @include media('<=sm') {
      opacity: 0.3;
      right: 0;
    }
  }

  &__title {
    line-height: 1.5;
    font: {
      size: rem(36);
      weight: 700;
    }

    @include media('<=sm') {
      font-size: rem(28);
    }
  }

  &__subtitle {
    line-height: 2;
    margin-bottom: rem(120);
    font-size: rem(24);

    @include media('<=sm') {
      font-size: rem(20);
      margin-bottom: rem(80);
    }
  }

  &-steps {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    @include media('<=sm') {
      justify-content: center;
    }
  }

  @include media('>sm') {
    &-step:nth-of-type(3n) {
      margin-right: 0;
    }

    &-step:nth-child(n+4) {
      margin-bottom: 0;
    }
  }

  &-step {
    display: flex;
    flex-direction: column;
    max-width: rem(290);
    min-width: rem(290);
    position: relative;

    @include media('>sm') {
      margin-bottom: rem(110);
      margin-right: rem(135);
    }

    @include media('<=sm') {
      &:not(:last-child) {
        margin-bottom: rem(70);
      }
    }

    &::before {
      background-color: var(--accent-color-blue);
      height: 100%;
      left: rem(-5);
      opacity: 0.25;
      width: rem(1);
      @include pseudo;
    }

    &__number {
      color: var(--accent-color-blue);
      font-weight: 700;
      position: relative;

      &-count {
        font-size: rem(140);
        opacity: 0.25;
      }

      &-name {
        font-size: rem(36);
        left: 0;
        position: absolute;
        text-transform: uppercase;
        @extend %center-vertical;
      }
    }

    &__title {
      font-size: rem(24);
      line-height: 1.25;
      margin-bottom: rem(40);
    }

    &__text {
      font-size: rem(16);
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: rem(35);
      }
    }
  }
}
