<!DOCTYPE html>
html(lang="en")
  head
    block head

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Labyrinthe is building a fully integrated, multi-faceted Hemp products brand company.")

    title= title

    //- Preloading scripts and styles
    link(rel="preload", as="style", href="/css/main.css")
    link(rel="preload", as="script", href="/js/main.js")

    link(rel="stylesheet", href="/css/main.css")

    link(rel="icon", type="image-x/icon", href="/favicon.ico")
    link(rel="icon", type="image/png", href="/favicon.png")
  body
    block body

    script(src="/js/main.js")
