<!DOCTYPE html>
html(lang="en", prefix="og: http://ogp.me/ns#")
  head
    block head

    //- Yandex.Metrika counter
    script(type="text/javascript").
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(66320806, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      });
    noscript
      div
        img(src="https://mc.yandex.ru/watch/66320806" style="position:absolute; left:-9999px;" alt="")
    //- /Yandex.Metrika counter

    //- Global site tag (gtag.js) - Google Analytics

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-161277734-26")

    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];


      function gtag(){dataLayer.push(arguments);}

      gtag('js', new Date());

      gtag('config', 'UA-161277734-26');

    //- Global site tag (gtag.js) - Google Analytics

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="▶️ Labyrinthe ◀️ is building a fully integrated, multi-faceted Hemp products brand company. 🔷")
    meta(property="og:description", content="▶️ Labyrinthe ◀️ is building a fully integrated, multi-faceted Hemp products brand company. 🔷")
    meta(property="og:image", content="/img/og-image.png")

    title= title

    //- Preloading scripts and styles
    link(rel="preload", as="style", href="/css/main.css")
    link(rel="preload", as="script", href="/js/main.js")

    link(rel="stylesheet", href="/css/main.css")

    link(rel="icon", type="image-x/icon", href="/favicon.ico")
    link(rel="icon", type="image/png", href="/favicon.png")
  body
    block body

    //- modal windows
    #modal-policy.modal.modal-policy
      .modal-wrapper
        button.modal-close(data-target='#modal-policy')
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox="0 0 23 23", preserveAspectRatio="none")
            path(fill-rule='evenodd', fill='inherit', d='M20.845,-0.001 L23.001,2.155 L2.155,23.001 L-0.001,20.845 L20.845,-0.001 Z')
            path(fill-rule='evenodd', fill='inherit', d='M2.155,-0.001 L23.001,20.845 L20.845,23.001 L-0.001,2.155 L2.155,-0.001 Z')
        .modal-content
          h5 Privacy policy
          p The Internet is an amazing tool. It has the power to change the way we live, and we&apos;re starting to see that potential today. With only a few mouse-clicks, you can follow the news, look up facts, buy goods and services, and communicate with others from around the world. It&apos;s important to LEFA to help our customers retain their privacy when they take advantage of all the Internet has to offer. Take Note: the privacy practices set forth in this privacy policy are specific to THIS WEBSITE. If you link to other web sites, please review the privacy policies posted at those sites.
          p You hereby expressly consent to receive collections and other communications from or on behalf of Lefa via, for example, and not limited to telephone, mobile phone, text messaging, email, mail or any other medium as it may become available. You further expressly consent to receive autodialed and pre-recorded telemarketing calls from or on behalf of Lefa at the telephone number provided herein, including my mobile phone number, if applicable. I understand that consent is not a condition of purchase. This provision shall survive the termination of this Agreement. You may opt-out of these services by emailing info@Lefacares.com. The opt-out process may take up to 30 days.
          h5 Notice
          p We will ask you when we need information that personally identifies you (personal information) or allows us to contact you. Generally, this information is requested when applicable as you create prepare to order, create a Registration ID, enter a contest, or order email newsletters. We use your Personal Information for four primary purposes: &bull; To make the site easier for you to use by not having to enter information more than once. &bull; To help you quickly find services or information. &bull; To help us create content most relevant to you. &bull; To alert you to product upgrades, special offers, updated information and other new services and products from LEFA.
          h5 Security
          p LEFA has taken strong measures to protect the security of your personal information and to ensure that your choices for its intended use are honored. We take strong precautions to protect your data from loss, misuse, unauthorized access or disclosure, alteration, or destruction. We guarantee your e-commerce transactions to be 100% safe and secure. When you place orders or access your personal account information, you&apos;re utilizing secure server software SSL, which encrypts your personal information before it&apos;s sent over the Internet. SSL is one of the safest encryption technologies available.
          p LEFA strictly protects the security of your personal information and honors your choices for its intended use. We carefully protect your data from loss, misuse, unauthorized access or disclosure, alteration, or destruction. Your personal information is never shared outside the company without your permission, except under conditions explained above. Inside the company, data is stored in password-controlled servers with limited access. Your information may be stored and processed in USA or any other country where LEFA, its subsidiaries, affiliates or agents are located.
          h5 Cookies / Tracking technology
          p The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.
          h5 Notice to parents
          p This site is not intended for children and in no way do we suggest they use our products. We strictly forbid taking children information or processing any orders if the recipient is not of appropriate age in his or her country of resident.
          h5 What we do with the information you share
          p When you use our site, you provide us with your contact information, including your name and email address. We use this information to send you updates about your order, questionnaires to measure your satisfaction with our service and announcements about new and exciting services that we offer. When you order from us, we ask for your credit card number and billing address. We use this information only to bill you for the product(s) you order at that time. For your convenience, we do save billing information in case you want to order from us again, but we don&apos;t use this information again without your permission.
          p We occasionally hire other companies to provide limited services on our behalf, including packaging, mailing and delivering purchases, answering customer questions about products or services, sending postal mail and processing event registration. We will only provide those companies the information they need to deliver the service, and they are prohibited from using that information for any other purpose. LEFA will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on LEFA or the site; (b) protect and defend the rights or property of LEFA and its family of Websites, and, (c) act in urgent circumstances to protect the personal safety of users of LEFA, its Websites, or the public.
          h5 Privacy contact information
          p If you have any questions or comments about our privacy policy, please do not hesitate to contact us. We reserve the right to make changes to this policy. Any changes to this policy will be posted.

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="/js/main.js")
